{% extends 'basefront.html.twig' %}

{% block body %}
 
 



 <div class="container">
 
        <div class="row">
            <div class="col-xs-12">
                    <h1>Inscription</h1>

                {{ include('_form.html.twig') }}


            </div>
        </div>
    </div>
{% endblock %}

 